<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">About</h4>
		  </div>
		  <div class="modal-body">
			First of all, thanks for visiting this site! My first intention in creating this site is to develop a fully fledged, but minimal rails
			application since I am a beginner. Second, I wanted a journal where I could keep track of stuff I learnt (& learn) about rails! The source code is available on <a href="https://github.com/karthik25/learned-today" target="_blank">github</a>, feel free to fork it :)
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	</div>
</div>
