<footer>
	<div class="row">
	  <div class="col-lg-12">		
		<p>Made by <a href="http://thekfactor.info" rel="nofollow">Karthik Ananthapadmanaban</a>. Contact him at <a href="mailto:thekfator@thekfactor.info">thekfactor (at) thekfactor.info</a>.</p>
		<p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Theme based on <a href="http://bootswatch.com/journal/" rel="nofollow">Bootswatch :: Journal</a>. Uses GitHub <a href="http://simonwhitaker.github.io/github-fork-ribbon-css/">Css</a> Ribbon.</p>
	  </div>
	</div>		
</footer>
