<div>
	<div style="float: left"><a href="/fact/<%= @fact.file.gsub('_','-') %>/prev">&lt;&lt; previous</a></div>
	<div style="float: right"><a href="/fact/<%= @fact.file.gsub('_','-') %>/next">next &gt;&gt;</a></div>
</div>
<br style="clear: both" /><br/>
