<br /><br />

<% @facts.each do |fact| %>
	<div class="panel panel-default">
	  <div class="panel-heading">Learnt on <%= fact.date %></div>
	  <div class="panel-body">
		<%= fact.fact.html_safe %>
	  </div>
	</div>	
<% end %>

<%= paginate @facts %>
